@value fridgeDarkGreen, fridgeWhite from '../../common/colors.css';
.button {
  background-color: fridgeDarkGreen;
  color: fridgeWhite;
  font-weight: bold;
  cursor: pointer;
  padding: 0.5em;
  flex: 1 1 50%;
  font-size: 0.8rem;
  border: 0;
  outline: 0;
}

.button:hover {
  opacity: 0.8;
}
