@value fridgeWhite, fridgeLightGreen, fridgeDeepGreen from '../../common/colors.css';

.footer {
  width: 100%;
  text-align: center;
  background-color: fridgeWhite;
  border-top: 1px solid fridgeLightGreen;
}

.title {
  color: fridgeDeepGreen;
}
